.footer {
    display: flex;
    justify-content: space-between;
    background-color: map-get($colores, primario );
    height: 192px;
    
    &__img{
        height: 6em;
        padding-right: 5em;
    }
    
    &__nombre{
        font-family: $parrafos;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 1em;
        color: map-get($colores, secundario)    
    }
    &__nav{
        display: flex;
        justify-content: space-between;
    }
    
    &__ul{
        display: flex;
        justify-content: right;
    }
    &__link{
        opacity: 0%;
        font-size: 2em;
        position: absolute;
        padding-top: 1%;
                
    }
}
@media screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: map-get($colores, primario );
        height: 100px;
        font-size: 1em;
    }
    .footer__nombre{font-size: .8em;}
    &__link{
        
        font-size: 2em;
        position: absolute;
        padding-top: 2%;
                
    }
}    