.footer {
    display: flex;
    justify-content: space-between;
    background-color: map-get($colores, primario );
    height: 192px;
    
    &__img{
        height: 6em;
        padding-right: 5em;
    }
    
    &__nombre{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: map-get($colores, secundario)    
    }
    &__nav{
        display: flex;
        justify-content: space-between;
    }
    
    &__ul{
        display: flex;
        justify-content: right;
    }
}
@media screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: map-get($colores, primario );
        height: 100px;
        font-size: 1em;
    }
    .footer__nombre{font-size: .8em;}
}    