.centro {
    color: map-get($colores, primario ); 
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 10px;  
    
    &__info {
        padding-top:150px;
    }
}
@media screen and (max-width: 992px) {
    .centro {
            color: map-get($colores, primario ); 
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 10px;  
        }   
    }