.tour {
    color: map-get($colores, primario ); 
    text-align: justify;
    @include flex(row, space-evenly, center);
    padding: 20px;
    justify-content: space-evenly;
    

    &__fechas {
        align-items: center;
    }
    &__link {
        @extend .tour__fechas;
        color: map-get($colores, terciario );
        
        
    }
}
@media screen and (max-width: 992px) {
    .tour {
            color: map-get($colores, primario ); 
            text-align: justify;
            display: flex;
            flex-direction: column; 
        }
    }
    