
/*espaciados*/
$spacing-small: 2rem;


/*fuentes-letras*/
$principal: 'Coming Soon', cursive;
$titulos:'Permanent Marker', cursive;
$parrafos:'Patrick Hand', cursive;

/* colores*/
$colores: ( 
    primario: black,   
    secundario: white, 
    terciario: red,
);   